*{
    padding:0;
    margin:0;
    font: inherit;
    text-decoration:none;
}
html{
    min-height:100%;
}
body{
    font-family: 'PT sans', arial, serif;
    padding:30px;
    background-image: -webkit-linear-gradient(#555555, #999999);
    background-image:      -o-linear-gradient(#555555, #999999);
    background-image:    -moz-linear-gradient(#555555, #999999);
    background-image:         linear-gradient(#555555, #999999);
    background-repeat: no-repeat;
    min-height:100%;
}
#vsechno{
    margin-left:auto;
    margin-right:auto;
    width:750px;
    position:relative;
    padding-bottom:75px;
}
footer{
    background-color:#BBBBBB;
    border-radius:1em;
    left:50%;
    position:relative;
    padding:5px 15px;
}
.center{
    position:absolute;
    right:50%;
}
.patice{
    bottom:10px;
}
a{
    color:#005500;
}
a:hover{
    color:#009000;
}
h1{
    text-align:center;
    font-size:2em;
    color:white;
    padding:20px;
}
h2{
    font-size:2.5em;
    color:black;
    font-variant: small-caps;
    border-bottom: 2px solid #A00000;
    margin:20px 0;
}
h3{
    font-size:1.5em;
    font-weight:BOLD;
    margin:10px;
}
h2,h3,h4,h5,h6{
    text-align:left;
}
.datum+h2{
    margin-top:0;
    margin-bottom:20px;
}
p{
    margin:5px;
}
p.datum{
    margin:15px 0 0 0;
    text-align:right;
}
.datum{
    color:#333333;
    font-size:15px;
}
header{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    background-color: #AA0000;
    border-radius:1em;
    cursor:pointer;
    transition: box-shadow 0.25s;
}
header:hover{
    box-shadow: 0 0 10px 5px #282828;
}
header a{
  display:block;
  height:100%;
  width:100%;
}
nav{
  z-index:5;
  position:relative;
  border-radius:10px;
  transition: all 0.25s;
}
article{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
    position:relative;
    width:650px;
    top:65px;
    padding: 1px 50px 50px 50px;
    background-color:#CCC;
    border-radius:1em;
    transition: all 0.25s;
    box-shadow: 0 0 20px 5px #333333;
}
article:last-child{
    margin-bottom:50px;
}
.navigTlacitko{
    min-width:200px;
    text-align:center;
    border-top:1px solid grey;
    border-bottom:0;
    background-color:#CCCCCC;
    font-weight:BOLD;
}
.navigTlacitko:first-child{
    border-top:0;
    border-radius:10px 10px 0 0;
}
.navigTlacitko:last-child{
    border-radius:0 0 10px 10px;
}
.navigTlacitko:only-child{
    border-radius:10px;
}
.navigTlacitko a{
    display:block;
    padding:5px 10px;
    height:100%;
    width:auto;
}
#leftbar{
    position:absolute;
    top:65px;
    left:-225px;
    width:150px;
    z-index: 6;
}
#rightbar{
    position:absolute;
    top:65px;
    right:-250px;
}
#centerleftmenu{
    position:absolute;
    right:50%;
}
.jestevicecenter{
    position:relative;
    left:50%;
}
.nahravka{
    padding-left: 20px;
    margin:30px 0;
}
.nahravka ul{
    margin-top:0;
    padding-left:20px;
    list-style:none;
    font-style:italic;
}
article p{
    font-size:17px;
    text-indent:1em;
    text-align:justify;
    margin-top:10px;
}
.post{
    margin: 10px 0;
}
.post a{
    font-size:20px;
}
#paginating{
    position:relative;
    top:50px;
}
.page{
    border-radius:5px;
    background-color:#BBBBBB;
    transition: box-shadow 0.25s;
}
.page:hover{
    box-shadow: 0 0 10px 3px #333333;
    cursor:pointer;
}
.current {
    font-weight:bold;
    background-color: #AAAAAA;
}
.current:hover{
    box-shadow:none;
    cursor:default;
}
.ybcenter{
    margin-left:auto;
    margin-right:auto;
    width:560px;
    height:315px;
}
.page.prev a, .page.next a, .page.current{
    padding:0 10px;
}
.page a{
    color:black;
}
#home, #atHome{
    margin-bottom:50px;
}
#home img, #atHome img{
    width:100%;
    border-radius:10px;
    transition:all 0.25s;
}
video{
    margin-left:auto;
    margin-right:auto;
}
audio{
    transition:all 0.5s;
    border-radius:7px;
}
#disqus_thread{
    margin-top:100px;
    padding-top:50px;
    border-top:2px solid #A00000;
}
nav:hover, #home img:hover, #atHome #home img, #atNav nav{
    box-shadow: 0 0 20px 5px #333333;
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}
.chcuKurzivu{
    font-style:italic;
}