---
layout: athome
---
<div id="content">
    {% for post in paginator.posts %}
        <article>
            <p class="datum"> {% unless post.categories contains "nezarazeno" %}<a href="/{{post.categories | first | replace: " ", "-" }}">  {{post.categories | first | capitalize_all}}</a> | {% endunless %}{{ post.date | date: "%-d. %-m. %Y"  }} </p>

            <h2><a href="{{ post.url }}">{% if post.author %}{{ post.author }}{{" — "}}{% endif %}{{ post.title }} </a></h2>
          {{ post.content }}
        </article>
     {% endfor %}

    <!--{% include paginate.html %}-->

    <!--{% include footer.html %}-->
</div>

