 <!DOCTYPE html>
<html>
  {% include head.html %}
<body>
    <div id="atHome">
      <div id="vsechno">
       <div id="leftbar">
                <div id="home"><a href="/" > <img src="{{site.baseurl}}/pics/home.png" alt="U klavíru" width="25%" height="25%">
                </a>
          </div>
        </div>
          <div id="rightbar">
              <nav>
                  {% for category in site.categories %}
                      {% unless category contains "nezarazeno" %}
                        <div class="navigTlacitko"><a href="{{site.baseurl}}/{{category | first | replace: " ", "-" }}">{{ category | first | capitalize_all | replace:" ","&nbsp;"}}</a></div>
                      {% endunless %}
                  {% endfor %}
              </nav>
          </div>
        {{ content }}
      </div>
    </div>
    {% include google_analytics.html %}
</body>
</html>
